@define-mixin clearfix {
  &::after {
    content: '';
    display: table;
    cleat: both;
  }
}

@define-mixin container {
    padding: 0 20px;
    text-align: center;
}

@define-mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@define-mixin img-full {
  display: block;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

@define-mixin text-invisible {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;

@define-mixin MQ $canvas {
  @if $canvas == mobile {
    @media only screen and (min-width: $mobile) and (max-width: $tablet - 1) { @mixin-content; }
  }
  @else if $canvas == tablet {
    @media only screen and (min-width: $tablet) and (max-width: $desktop - 1) { @mixin-content; }
  }
  @else if $canvas == desktop {
    @media only screen and (min-width: $desktop) { @mixin-content; }
  }

  @else if $canvas == mobilePlus {
    @media only screen and (min-width: $mobile) { @mixin-content; }
  }
  @else if $canvas == tabletPlus {
    @media only screen and (min-width: $tablet) { @mixin-content; }
  }
  @else if $canvas == desktopPlus {
    @media only screen and (min-width: $desktop) { @mixin-content; }
  }

  @else if $canvas == mobileNeg {
    @media only screen and (max-width: $mobile) { @mixin-content; }
  }
  @else if $canvas == tabletNeg {
    @media only screen and (max-width: $tablet) { @mixin-content; }
  }
  @else if $canvas == desktopNeg {
    @media only screen and (max-width: $desktop) { @mixin-content; }
  }
}
