.feedback__section {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  border: none;
  border-top: 1px solid #d6d6d6;

  &--emotions {
    .feedback__item {
      margin-bottom: 50px;
    }
  }
}

.feedback__inner {
  @mixin container;
  text-align: inherit;
}

.feedback__title {
  text-align: center;
}

.feedback__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__input,
.feedback__email,
.feedback__textarea {
  padding: 20px;
  border: none;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  box-sizing: border-box;

  &::placeholder {
    color: #000;
  }
}

.feedback__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.feedback__radio {
  opacity: 0;

  &+.feedback__label {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-left: 65px;
    height: 46px;

    &::before,
    &::after {
      position: absolute;
      left: 0;
    }

    &::before {
      content: '';
      top: 0;
      display: inline-block;
      width: 46px;
      height: 46px;
      border-radius: 100px;
      background: #f2f2f2;
    }

    &::after {
      content: none;
      left: 15px;
      top: 15px;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 100px;
      background: $text-color;
    }
  }
}

.feedback__radio:checked + .feedback__label::after {
  content: '';
}

.feedback__checkbox {
  opacity: 0;

  &+.feedback__label {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-left: 80px;
    height: 55px;

    &::before,
    &::after {
      position: absolute;
      left: 0;
    }

    &::before {
      content: '';
      top: 0;
      display: inline-block;
      width: 55px;
      height: 55px;
      border-radius: 5px;
      background: #f2f2f2;
    }

    &::after {
      content: none;
      left: 15px;
      top: 20px;
      display: inline-block;
      width: 24px;
      height: 16px;
      background: url('../img/icon-tick.svg') no-repeat;
      background-size: 24px 16px;
    }
  }
}

.feedback__checkbox:checked + .feedback__label::after {
  content: '';
}

.feedback__textarea {
  width: 100%;
}
