.main-nav__list {
  @mixin list-reset;
}

.main-nav__item {
  text-align: center;
  padding: 16px 0;
  background: $highlight;
  border-top: 1px solid color($highlight tint(20%));
  border-bottom: 1px solid color($highlight shade(20%));

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.main-nav__open,
.main-nav__close {
  display: inline-block;
  vertical-align: top;
}
