.map {
  position: relative;
  min-height: 350px;
  background: url('../img/bg-map-mobile@1x.jpg') no-repeat;
  background-size: cover;

  &::before {
    content: '';
    width: 27px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: url('../img/icon-map-marker.svg') no-repeat;
    background-size: 27px 27px;
  }
}
