.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer__inner {
  @mixin container;
}

.page-footer__tag {
  display: block;
  margin-bottom: 40px;
  font-size: 21px;
  font-weight: bold;
}
