.reasons {
  background: $highlight;
  color: #fff;

  &--gray {
    background: #eee;
    color: $text-color;

    .reasons__item {
      padding: 15px 0;
      border-bottom: 1px solid #d6d6d6;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.reasons__inner {
  @mixin container;
}

.reasons__item {
  padding: 25px 0;
}

.reasons__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
}

.reasons__image {

  img {
    @mixin img-full;
  }
}
